/* globals.css */

/* Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Utility class for the marquee effect */
.animate-marquee {
  width: 200%; /* Ensure the container is wide enough for a smooth scroll */
  animation: marquee 20s linear infinite; /* 30s duration; adjust as needed */
}
